/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #1e1c2a;
}

/* <!-- ===========  Nav  =========== --> */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

/* <!-- ***********  nav logo  *********** --> */
nav .logo{
    color: #f07500;
    font-size: 2.5rem;
    font-weight: 600;
}

/* <!-- ***********  menubar  *********** --> */
nav .menubar{
    display: none;
    background-color: #1e1c2a;
    color: #fff;
    font-size: 1.5rem;
}

/* <!-- ***********  ul  *********** --> */
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
}

nav ul li a{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in;
}

nav ul li a:hover{
    color: #f07500;
}

/* ++++++++++++  Media Query  ++++++++++++ */
@media (max-width: 768px) {

    /* <!-- ===========  Nav  =========== --> */
    nav {
        padding: 20px 25px;
    }

    /* <!-- ***********  menubar  *********** --> */
    nav .menubar{
        display: block;
    }

    /* <!-- ***********  ul  *********** --> */
    nav ul{
        display: none;
        position: absolute;
        top: 80px;
        flex-direction: column;
        right: 0;
        background: #7f9ad8;
        width: 200px;
        gap: 10px;
        border-radius: 5px;
    }

    nav ul.active{
        display: flex;
    }

    nav ul li{
        background: #7f9ad8;
        
    }

    nav ul li a{
        background: #7f9ad8;
        
    }

}

/* <!-- ++++++++++++  Home Section  ++++++++++++ --> */
.home-section{
    min-height: 470px;
    margin-bottom: 130px;
}

/* <!-- ===========  home-container  =========== --> */
.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 0 39.5px;
}

/* <!-- ############  Heading  ############ --> */
.left-home h1{
    font-size: 4rem;
    font-weight: 700;
    color: #ee4611;
}

/* <!-- ############  paragraph  ############ --> */
.left-home p{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin: 25px 0;
    color: #fff;
}

/* <!-- ############  button  ############ --> */
.btn{
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: #f07500;
    color: #FFFFFF;
    border: 1px solid #f07500;
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in;
}

.btn:hover{
    background: #ee4611;
}

/* <!-- ############  img  ############ --> */
.home-container .right-home img{
    width: 420px;
}

/* ++++++++++++  Media Query  ++++++++++++ */
@media (max-width: 1024px) {

    /* <!-- ===========  home-container  =========== --> */
    .home-container{
        flex-wrap: wrap;
        gap: 50px;
        padding: 0 19.5px;
    }

}

@media (max-width: 425px) {

    /* <!-- ############  Heading  ############ --> */
    .left-home h1{
        font-size: 3rem;
    }

    /* <!-- ############  paragraph  ############ --> */
    .left-home p{
        font-size: 1.5rem;
        line-height: 2.3rem;
        margin: 22px 0;
    }

    /* <!-- ############  img  ############ --> */
    .home-container .right-home img{
        width: 320px;
    }

}

/* <!-- ++++++++++++  About Section  ++++++++++++ --> */
.about-section{
    min-height: 470px;
    margin-bottom: 130px;
    scroll-behavior: smooth;
}

/* <!-- ===========  about-container  =========== --> */
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 0 20px;
}

/* <!-- ############  img  ############ --> */
.about-container .left-about img{
    width: 420px;
}

/* <!-- ############  span  ############ --> */
.right-about span{
    font-weight: 600;
    letter-spacing: 1px;
    color: #ee4611
}

/* <!-- ############  heading  ############ --> */
.right-about h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #fff;
}

/* <!-- ############  paragraph  ############ --> */
.right-about p{
    max-width: 420px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin: 20px 0;
    color: #fff;
}

/* <!-- ############  btn  ############ --> */

.btn{
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: #f07500;
    color: #FFFFFF;
    border: 1px solid #f07500;
    letter-spacing: 0.5px;
}

/* ++++++++++++  Media Query  ++++++++++++ */
@media (max-width: 1024px) {

    /* <!-- ===========  about-container  =========== --> */
    .about-container{
        flex-wrap: wrap;
        gap: 30px;
    }

}

@media (max-width: 425px) {

    /* <!-- ############  img  ############ --> */

    .about-container .left-about img {
        width: 320px;
    }

    /* <!-- ############  paragraph  ############ --> */
    .right-about p{
        font-size: 1.1rem;
    }

}

/* <!-- ++++++++++++  Food_menu-sec Section  ++++++++++++ --> */
.food_menu-sec{
    min-height: 470px;
    margin-bottom: 130px;
}

.food_menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* <!-- ***********  span  *********** --> */
.food_menu-container span {
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #ff702a;
}

/* <!-- ***********  heading  *********** --> */
.food_menu-container h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding: 0 15px;
}

/* <!-- ***********  food_menu  *********** --> */
.food_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px 0;
    padding: 0 15px;
}

/* <!-- ############  card  ############ --> */
.food_menu .card {
    width: 325px;
    background: #fff;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

/* <!-- <<<<<<<<<<<<  img  >>>>>>>>>>>> --> */
.card img {
    background-color: #ffffff;
    width: 210px;
}

/* <!-- <<<<<<<<<<<<  h1  >>>>>>>>>>>> --> */
.card h1 {
    background: #fff;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
}

/* <!-- <<<<<<<<<<<<  h3  >>>>>>>>>>>> --> */
.card h3 {
    background: #fff;
    color: black;
}

/* <!-- <<<<<<<<<<<<  prise  >>>>>>>>>>>> --> */
.card p {
    background: #fff;
    color: #f01500;
}

/* ++++++++++++  Media Query  ++++++++++++ */
@media (max-width: 425px) {

    /* <!-- ***********  food_menu  *********** --> */
    .food_menu {
        padding: 0 12px;
    }

    /* <!-- ############  card  ############ --> */
    .food_menu .card {
        width: 300px;
        height: 290px;
        gap: 5px;
    }

    /* <!-- <<<<<<<<<<<<  img  >>>>>>>>>>>> --> */
    .card img {
        width: 200px;
    }

}

/* <!-- ++++++++++++  Services Section  ++++++++++++ --> */
.services-sec{
    min-height: 600px;
}

/* <!-- ===========  services-container  =========== --> */
.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* <!-- ***********  span  *********** --> */
.services-container span {
    color: #ff702a;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* <!-- ***********  heading  *********** --> */
.services-container h1 {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 600;
}

/* <!-- ***********  services  *********** --> */
.services-container .services {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 70px 0;
    flex-wrap: wrap;
    padding: 0 20px;
}

/* <!-- ############  card1  ############ --> */
.card1 {
    width: 400px;
    box-shadow: 0 0 30px;
    border-radius: 5px;
}


/* <!-- <<<<<<<<<<<<  img  >>>>>>>>>>>> --> */
.card1 img {
    width: 100px;
}

/* <!-- <<<<<<<<<<<<  heading  >>>>>>>>>>>> --> */
.card1 h3 {
    color: #ff702a;
    letter-spacing: 1px;
    font-weight: 600;
}

/* <!-- <<<<<<<<<<<<  paragraph  >>>>>>>>>>>> --> */
.card1 p {
    color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* ++++++++++++  Media Query  ++++++++++++ */
@media (max-width: 768px) {

    /* <!-- ***********  heading  *********** --> */
    .services-container h1 {
        font-size: 1.9rem;
    }

    /* <!-- ############  card1  ############ --> */
    .card1 {
        width: 380px;
    }

}


@media (max-width: 425px) {

    /* <!-- ***********  heading  *********** --> */
    .services-container h1 {
        font-size: 1.9rem;
        text-align: center;
    }

    /* <!-- ***********  services  *********** --> */
    .services-container .services {
        padding: 0 10px;
    }

    /* <!-- ############  card1  ############ --> */
    .card1 {
        width: 300px;
    }

    /* <!-- <<<<<<<<<<<<  paragraph  >>>>>>>>>>>> --> */
    .card1 p {
        font-size: 1rem;
    }

}

/* <!-- ++++++++++++  Talk Section  ++++++++++++ --> */
.talk-section {
    display: grid;
    place-content: center;
    min-height: 400px;
}

/* <!-- ++++++++++++  Talk container  ++++++++++++ --> */
.talk-container {
    height: 250px;
    box-shadow: 0 0 20px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
}

/* <!-- *************  heading  ************** --> */
.talk-container h1 {
    background-color: #ffffff;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* <!-- *************  btn  ************** --> */
.btn {
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: #f07500;
    color: #FFFFFF;
    border: 1px solid #f07500;
    letter-spacing: 0.5px;
    cursor: pointer;
}

/* ++++++++++++  Media Query  ++++++++++++ */
@media (max-width: 1024px) {

    /* <!-- ++++++++++++  Talk container  ++++++++++++ --> */
    .talk-container {
        width: 750px;
    }

}

@media (max-width: 768px) {

    /* <!-- ++++++++++++  Talk container  ++++++++++++ --> */
    .talk-container {
        width: 415px;
    }

}

@media (max-width: 425px) {

    /* <!-- ++++++++++++  Talk container  ++++++++++++ --> */
    .talk-container {
        width: 315px;
    }

    /* <!-- *************  heading  ************** --> */
    .talk-container h1 {
        font-size: 1.9rem;
        letter-spacing: 0px;
    }

}

/* <!-- ++++++++++++  footer  ++++++++++++ --> */
footer {
    display: flex;
    justify-content: center;
    min-height: 300px;
    align-items: center;
}

/* <!-- ===========  container  =========== --> */
.container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    color: #FFFFFF;
    padding: 0 30px;
}

/* <!-- ############  links > ul  ############ --> */
.links ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* <!-- <<<<<<<<<<<<  links > ul > li  >>>>>>>>>>>> --> */
.links ul li {
    list-style: none;
    cursor: pointer;
}

/* <!-- ............  heading  ............ --> */
.links ul li h3 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

/* <!-- ............  horizantal line  ............ --> */
.links ul li hr {
    width: 65px;
    margin-top: 5px;
    background-color: #f07500;
}

.links ul li a {
    text-decoration: none;
    color: #857f7f;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

/* <!-- ............  social link  ............ --> */
.link-social {
    background: #f07500;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #f07500;
}

.link-social:first-child{
    padding: 10.5px 11px;
}

.link-social:nth-child(2){
    padding: 10px 11.5px;
}

.link-social:nth-child(3){
    padding: 10px 10.5px;
}

.link-social:nth-child(4){
    padding: 10px 12px;
}

.link-social i {
    color: #fff;
    background: #f07500;
    font-size: 1rem;
}

/* ++++++++++++  Media Query  ++++++++++++ */
@media (max-width: 768px) {

    /* <!-- ===========  container  =========== --> */
    .container {
        flex-wrap: wrap;
        gap: 30px;
    }

}